.keyboard{
    display: flex;
    gap: auto;
    width: 90%;
    max-width: 450px;
}
.keyboard button{
    flex: 1;
    padding: .5rem 0;
    border: none;
    border-right: 2px solid rgba(100, 148, 237, 0.2);
    background-color: transparent;
    color:cornflowerblue;
    font-weight: 600;
    font-size: larger;
}
.keyboard button:last-child{
    border-right: none;
}