.sudoko-square{
    cursor: default;
    padding: 0 0;
    color: blue;
    font-size: 20px;
    font-weight: 600;
    aspect-ratio: 1;
    border-radius: 3px;
    text-align: center;
    transition: all .1s;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: transparent;
}
.sudoko-square.fixed{
    color: black;
}
.sudoko-square.check{
    border: 1px solid rgba(0, 0, 0, 0.5);
}
.sudoko-square:focus.check{
    border: none;
}
.sudoko-square.focused{
    color:rgb(194, 194, 194);
    background-color: rgb(72, 72, 72);
}
.sudoko-square.warn:not(.fixed){
    color: red;
}